@import "Colors.css";

.notification-item {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 1;

}

.button1{
    -fx-border-width: 3px;
    -fx-border-radius: 100px;
    -fx-border-color: -fx-bg-color-3;
    -fx-background-radius: 100px;
    -fx-background-color: -fx-bg-color-1;
}

.MainGridPane{
    -fx-background-color: -fx-main-grid-pane-bg-color;
}

.topdashboard{
    -fx-background-color: -fx-bg-color-1;
    -fx-background-radius: 0 0 20 20;
}
.grid1{
    -fx-background-color: -fx-grid-1;
    -fx-background-radius: 20 0 0 0;
}
.grid2{
    -fx-background-color: -fx-grid-2;
}
.grid3{
    -fx-background-color: -fx-grid-3;
    -fx-background-radius: 0 20 0 0;
}
.grid4{
    -fx-background-color: -fx-grid-4;
    -fx-background-radius: 0 0 0 20;
}
.grid5{
    -fx-background-color: -fx-grid-5;
}
.grid6{
    -fx-background-color: -fx-grid-6;
    -fx-background-radius: 0 0 20 0;
}



.dashboardText{
    -fx-text-fill: -fx-textcolor1;
}

.bg1 {
     -fx-background-color: -fx-bg-color-2;
}

#choice1, #choice2 {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}